<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <p class="error-404-page">404 Page not Found!</p>
        <div class="bokFooter mt-5">
            <%- include('partials/footer') %>
        </div>
    </body>
</html>

