.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: gray;
}

.todo-text {
  flex: 1;
  cursor: pointer;
  font-size: 16px;
  padding-left: 10px;
}

.todo-item input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.deleteTask {
  background-color: #c16a6a;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;

}

.deleteTask:hover {
  background-color: #cc0000;
}