.about-section {
  background-color: #f9f9f9;
  padding: 50px;
  color: #333;
  padding: 10px;
}

.about-content {
  max-width: 100%;
  margin: 10px;
  /* justify-content: left; */
}

.about-content h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.about-content p, ul {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
  padding-left: 30px;
}

.about-actions {
  margin-top: 30px;
}

.btn-linkedin, .btn-cv {
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.btn-linkedin {
  background-color: #0077b5;
}

.btn-cv {
  background-color: #333;
}

.btn-linkedin:hover, .btn-cv:hover {
  opacity: 0.9;
}

.skills-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.skills-section h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.skills-carousel {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
}

/* Skill Card Hover Effect */
.carousel-item {
  width: 220px;
  height: 220px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item img {
  width: 100px;
  height: 100px;
  padding: 50px 0px 50px 100px;
}

/* Hover Animation */
.carousel-item:hover {
  transform: scale(1.2);  /* Scaling the card on hover */
  background-color: #f0f0f0; /* Slight background color change */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* Stronger shadow on hover */
}

/* Adding a slight rotation effect */
.carousel-item:hover img {
  transform: rotate(10deg);
  transition: transform 0.3s ease-in-out;
}

/* Optional glow effect */
.carousel-item:hover {
  box-shadow: 0px 4px 30px rgba(0, 128, 255, 0.5);
}