.projects {
    padding: 20px 0px;
    margin-top: -70px;
    width: 100vw;
}

.projects h2 {
    margin-top: 80px;
}

.project {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.project h3 {
    margin-top: 0;
}

.project a {
    text-decoration: none;
    color: #333;
}

.project-link {
    display: block;
    margin-top: 24px;
}

.project-link:hover {
    color: #8581f8;
    font-weight: bold;
}

.link-description {
    display: block;
    font-size: 18px;
    transition: transform 0.3s ease-in-out;
}

.link-description:hover {
    text-decoration: underline;
}

.link-description p:hover {
    color: #8581f8;
    font-weight: bold;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.item .image {
    width: 55%;
    height: 30vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.item .image:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-item {
    animation: fadeIn 0.5s;
}

.slideone {
    background-color:#F5FFF8;
    background-image: linear-gradient(rgb(255, 255, 255),#a8e0e08c,#ffec8b7e, rgb(255, 255, 255));
}
.slidetwo {
    background-color:#F5FFF8;
    background-image: linear-gradient(rgb(255, 255, 255),#FFE6C5, rgb(255, 255, 255));
}
.slidethree {
    background-color:#F5FFF8;
    background-image: linear-gradient(rgb(255, 255, 255),#fbffde, rgb(255, 255, 255));
}
.slidefour {
    background-color:#F5FFF8;
    background-image: linear-gradient(rgb(255, 255, 255),#E2F8FF, rgb(255, 255, 255));
}
.slidefive {
    background-color:#F5FFF8;
    background-image: linear-gradient(rgb(255, 255, 255),#f7bac6, rgb(255, 255, 255));
}
.slidesix{
    background-color:#E9FFFF;
    background-image: linear-gradient(rgb(255, 255, 255),#E9FFFF, rgb(255, 255, 255));
}

.img1 {
    width: 240px;
    height: 240px;
}

.img2 {
    width: 200px;
    padding-left: 16px;
}

.dZkckO {
    margin-right: 354px;
}