<div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img class="fixnavlogo" src="/image/navlogo.png"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/hotels">Hotel With Rooms</a></li>
            <li class="nav-item"><a class="nav-link" href="/listings">Listings</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="search-button btn btn-outline-success my-2 my-sm-0"
                    onclick='openReserveModal()'>Reserve</a></li>
        </ul>

        <form class="search-form form-inline my-2 my-lg-0" action="/search" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by location..." aria-label="Search"
                name="location">
            <button class="search-button btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
            <% if (isLoggedIn) { %>
                <li class="nav-item"></li><a class="nav-link" href="/logout" id="logoutBtn">Logout</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                    <li class="nav-item"><a href="/adminlogin" class="nav-link">Admin</a></li>
                    <% } %>
        </ul>
    </nav>
</div>