.contact {
    padding: 50px 0px;
    background-color: #f4f4f4;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact-main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-inner-section {
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px;
}
.contact .form-group {
    margin-bottom: 20px;
    
}
.contact label {
    display: flex;
    display: block;
    margin-bottom: 5px;
}
.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.contact button {
    padding: 10px 20px;
    background-color:#0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #0056b3;
}